.head{
    text-align: center;
    text-decoration: underline; 
    margin-top: 17%;
}

.head1{
    text-align: center;
}
.head2{
    text-align: center;
}
.head3{
    text-align: center;
}
.head4{
    text-align: center;
}